@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Rubik+Bubbles&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

button{
   
   @apply bg-[#eeede5] rounded-full h-[4rem] min-w-[4rem] border border-[#823c3c] border-2 m-1 hover:scale-95 transition-all  focus:scale-90 focus:outline-0   hover:bg-[#757575]  ;
   
   }
   body{
      font-family: "Rubik Bubbles", system-ui;
      font:caption;
      font-style: normal;
   }